<nav class="bg-black dark:bg-gray-800">
  <div class="container p-6 mx-auto">
      <a class="block text-2xl font-bold text-center text-white dark:text-white lg:text-3xl hover:text-purple-300 hover:text-purple-300" href="#">Crypto Pirates</a>

      <div class="flex items-center justify-center mt-6 text-white capitalize dark:text-white">
          <a href="#barChart" class="border-transparent hover:text-purple-300 dark:hover:text-purple-300 hover:border-purple-500 mx-1.5 sm:mx-6">Bar Chart</a>

          <a href="#linearChart" class="border-transparent hover:text-purple-300 dark:hover:text-purple-300 hover:border-purple-500 mx-1.5 sm:mx-6">Linear Chart</a>

          <a href="#pie" class="border-transparent hover:text-purple-300 dark:hover:text-purple-300 hover:border-purple-500 mx-1.5 sm:mx-6">Pie Chart</a>
      </div>
  </div>
</nav>